# All packages you need for this project

# pip install snscrap
# pip install streamlit
# pip install nltk 
# pip install hydralit_components
# pip install openpyxl
# pip install ploty
# pip install wordcloud

#hydralit_components==1.0.6
#plotly==5.4.0